# Ignorar archivos de configuración local
*venv

# Ignorar archivos pycache y byte-compiled
__pycache__/
*.pyc

# Ignorar el directorio de media
/media/

# Ignorar el directorio de archivos estáticos
/static/

db.sqlite3

git@github.com:Matiasumz/Undercheck-BackEndProject.git/

git@github.com:Matiasumz