<!-- FOOTER PARA TODO EL SITIO WEB -->
{% load static %}
<footer id="contacto" class="row">
    <div id="footer" class="column">
        <section id="box-logo">
            <h3 class="logo">Under<span>Check</span><sup>®</sup></h3>
        </section>
        <section id="box-footer-content" class="row">
            <section>
                <h5>Ventas y Soporte 24 hs:</h5>
                <a href="" id="contactar" title="contacto@undercheck.com" >contacto@undercheck.com</a>
            </section>
            <section>
                <h5>Seguinos en:</h5>
                <div id="box-redes" class="row">
                    <a href="" class="link-redes column" title="/undercheck">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="" class="link-redes column" title="@undercheck">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="" class="link-redes column" title="/undercheck">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </section>
        </section>
        <section id="copi" class="row">
            <p>Copyright © UnderCheck®</p>
        </section>
    </div>
</footer>