<!-- BARRA DE NAVEGACION PARA USUARIOS SIN REGISTRAR/INGRESAR -->
{% load static %}
<nav class="row">
    <div id="navbar" class="row">
        <a href="/" class="logo">Under<span>Check</span><sup>®</sup></a>
        <ul id="nav-list" class="row">
            <li class="navbar-item"><a href="{{ home }}/#nosotros" title="Nosotros" class="item">Nosotros</a></li>
            <li class="navbar-item"><a href="{{ home }}/#planes" title="Planes" class="item">Planes</a></li>
            <li class="navbar-item"><a href="{{ home }}/#por-que-elegirnos" title="Por qué elegirnos" class="item">Por qué elegirnos</a></li>
            <li class="navbar-item"><a href="#contacto" title="Contacto" class="item">Contacto</a></li>
        </ul>
    </div>
</nav>