
{% extends "base.html" %}
{% load static %}


{% block content %}
    <body>
        <h1>¡Crea tu Evento!</h1>
        <form action = "/evento/crear" method = "post">
            {% csrf_token %}
            <div class="form-group">

                Nombre: {{form.nombre}} <br>
                Descripcion: {{form.descripcion}} <br>
                Ubicacion: {{form.ubicacion}} <br>
                Fecha : {{form.fecha}}<br>
                Precio : {{form.precio_ticket}}<br>
                <button type="submit" class="btn btn-secondary button">Crear</button>
            </div>
        </form>
    </body>
    <div class="containerbuttom">
        <a href="{% url 'listarevento' %}" class="btn btn-secondary button" id="login">
            Eventos
        </a>
    </div>
{% endblock %}