{% extends "base.html" %}

{% block content %}
<div class="bg-custom d-flex justify-content-center align-items-center text-white">
    <div class="row text-center">
        <div class="col mb-5">
            <!-- Page heading-->
            <h1 class="fw-bolder d-block display-5">UnderCheck®</h1>
            <p class="fs-5 fw-medium">Keep it Under</p>
            <input class="btn bg-black btn-dark btn-custom d-block mx-auto my-4" id="btn-ingresar" type="button"
                value="Ingresar" id="login">
            <input id="btn-crea-evento" type="button" value="Crea tu Evento!">
        </div>
    </div>
</div>
<div class="container">
    <!-- Formulario section-->
    <section class="bg-light" id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                </div>
            </div>
        </div>
    </section>
    <!-- About section-->
    <section class="bg-light" id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Nosotros</h2>
                    <p class="lead">
                        UnderCheck® nace de una necesidad. Nace del Under Porteño, y de las restricciones para
                        poder
                        acceder a una plataforma de calidad, pero al mismo tiempo low cost. Para poner en
                        contexto,
                        las
                        ticketeras “líderes” toman valores de intereses elevados (15% y 20%) con respecto al
                        Ticket,
                        y
                        esto eleva los costos generales en cuanto al evento. En pocas palabras, UnderCheck®
                        llega al
                        público para poder ampliar el uso de una plataforma de calidad, fácil de usar ,
                        intuitiva, y
                        claramente para todos.
                    </p>
                    <h6>
                        <em>
                            “ Keep it Under “
                        </em>
                    </h6>
                </div>
            </div>
        </div>
    </section>
    <!-- Planes section-->
    <section class="bg-light" id="planes">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Planes</h2>
                    <p class="lead">
                        Actualmente contamos con dos tipos de planes:
                    </p>
                    <ul>
                        <big>
                            <li>Paquetes Customizables : Paquetes ya pre-seteados con respecto a la cantidad de
                                Tickets,
                                y tambien customizables depende la necesidad del cliente.</li>
                            <li>Por cantidad de tickets : Plan libre, ilimitado en el cual se toma el monto
                                total de
                                tickets cortados.</li>
                        </big>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <br>
                    <h2>Por que elegirnos</h2>
                    <p class="lead">Somos una Empresa Joven que entiende las necesidades del Under de hoy. Por
                        lo
                        tanto,
                        nos ponemos en los zapatos del cliente a la hora de pensar el servicio.</p>
                    <ul>
                        <big>
                            <li>Intuitivo</li>
                            <li>Low Cost</li>
                            <li>Nos amoldamos a tus necesidades</li>
                            <li>Soporte 24 hs</li>
                        </big>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section class="bg-light" id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <br>
                    <h2>Contacto</h2>
                    <p class="lead">Ventas y Soporte 24 hs : contacto@undercheck.com </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}